@import "tailwindcss";

@theme {
  --color-verde: #112221;
  --color-amarillo: #e1b86b;
  --color-amarillo-claro: rgba(225,184,107,0.12);
  --color-hueso: #fffaec;
  --color-hueso-oscuro: #F4DEB3;
  --color-verde-claro: #1a3330;
  --color-verde-medio: #162c2a;
}
